body {
    font-family: 'Patrick Hand', cursive;
    background-color: rgb(214, 214, 214) !important;
}


.mainBody {
    background-color: white !important;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: inset 0px 0px 20px black !important;
}

.header {
    background-color: rgb(182, 36, 36);
    text-align: center;
    outline: 3px solid black;
    box-shadow: inset 0px 0px 10px black;
}

.JPTlogoImg {
    width: 50px;
    height: 50px;
    margin-top: 17px;
}

.title {
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow: 3px 3px 1px black;
    font-size: 60px;
}

.logoTitle {
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow: 3px 3px 1px black;
    transition: all .2s ease-in-out;
}

.logoTitle:hover {
    color: black;
    text-shadow: 1px 1px 1px white;
    transform: scale(1.8);
    transition: 0.4s;
}

p {
    margin: 0px !important
}

.weatherText {
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow: 2px 2px 1px black;
    font-size: 17px;
}

#add, #search-btn {
    background-color: rgb(182, 36, 36);
    transition: all .2s ease-in-out;
}

#add:hover, #search-btn:hover {
    background-color: rgb(131, 10, 10);
    transform: scale(1.1);
    transition: 0.4s;
}

.card {
    box-shadow: 0px 0px 10px black !important;
    margin: 30px 0px !important;
    border-radius: 20px !important;
    background-color: rgb(240, 240, 240) !important;
    transition: all 0.2s ease-in-out !important;
}

.card:hover {
    transform: scale(1.07);
    transition: 0.4s;
}

.card-image {
    padding: 10px !important;
}

.recipeImg {
    border-radius: 20px !important;
    box-shadow: 0px 0px 5px black !important;
}

.footer {
    margin-top: 30px;
    text-align: center !important;
}