body {
    font-family: 'Patrick Hand', cursive;
    background-color: rgb(214, 214, 214) !important;
}


.mainBody {
    background-color: white !important;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
}

.header {
    background-color: rgb(182, 36, 36);
    text-align: center;
    outline: 3px solid black;
}

.JPTlogoImg {
    width: 50px;
    height: 50px;
    margin-top: 17px;
}

.title {
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow: 3px 3px 1px black;
    font-size: 60px;
}

.logoTitle {
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow: 3px 3px 1px black;
    transition: all .2s ease-in-out;
}

.logoTitle:hover {
    color: black;
    text-shadow: 1px 1px 1px white;
    transform: scale(1.8);
    transition: 0.4s;
}

p {
    margin: 0px !important
}

.weatherText {
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow: 1px 1px 1px black;
    margin: 20px;
}