/* BODY AND P TAGS START  */
body {
    font-family: 'Patrick Hand', cursive;
    background-color: rgb(214, 214, 214) !important;
}

p {
    margin: 0px !important
}
/* BODY AND P TAGS END */

/* MAIN BODY */
.mainBody {
    background-color: white !important;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: inset 0px 0px 20px black !important;
}

/* OUR HEADER */
.header {
    background-color: rgb(182, 36, 36);
    text-align: center;
    outline: 3px solid black;
    box-shadow: inset 0px 0px 10px black;
}

/* WEBPAGE TITLE */
.title {
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow: 3px 3px 1px black;
    font-size: 60px;
}

/* OUR INITIALS AT THE TOP LEFT OF THE SCREEN */
.logoTitle {
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow: 3px 3px 1px black;
    transition: all .2s ease-in-out;
}

.logoTitle:hover {
    color: black;
    text-shadow: 1px 1px 1px white;
    transform: scale(1.8);
    transition: 0.4s;
}
/* END */

/* WEATHER INFO TEXT */
.weatherText {
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow: 2px 2px 1px black;
    font-size: 17px;
}

/* SEARCH BOX PERAMETERS */
.searchInfo {
    color: black !important;
    font-size: 20px !important;
}

/* THE SEARCH BUTTON */
#search-btn {
    background-color: rgb(182, 36, 36);
    transition: all .2s ease-in-out;
}

#search-btn:hover {
    background-color: rgb(131, 10, 10);
    transform: scale(1.1);
    transition: 0.4s;
}

/* THE RECIPE CARDS */
.card {
    box-shadow: 0px 0px 10px black !important;
    margin: 30px 0px !important;
    border-radius: 20px !important;
    background-color: rgb(240, 240, 240) !important;
    transition: all 0.2s ease-in-out !important;
}

.card:hover {
    transform: scale(1.07);
    transition: 0.4s;
    background-color: rgb(226, 226, 226) !important;
}

/* RECIPE CARD IMAGES */
.card-image {
    padding: 10px !important;
}

.recipeImg {
    border-radius: 20px !important;
    box-shadow: 0px 0px 5px black !important;
}

/* OUR FOOTER */
.footer {
    margin-top: 30px;
    text-align: center !important;
}